<div class="form-container">
  <h2>Sign Up</h2>
  <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
    <label for="email">E-Mail address</label>
    <input type ="text" id="email" (ngModel)="email" name="email" class="formField" required>
    <label for="password">Password</label>
    <input type ="password" id="password" (ngModel)="password" name="password" class="formField" required>
    <button type="submit" [disabled]="!formData.valid" class="formButton">Create Account</button>
  </form>
  <a routerLink="/login" id="goback">Go Back to Login</a>
</div>
